* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font: normal 16px/1.5 "Titillium Web", sans-serif;
    background: #456990;
    overflow-x: hidden;
}

.div-titulo {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(43, 48, 44, 0.712), rgba(43, 48, 44, 0.712)), url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
}

.div-titulo h1 {
    font-size: 45px;
    color: #fff;
    z-index: 1;
    text-align: center;
    width: 90%;
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'Acme', sans-serif;
}

.div-titulo h1::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 30%;
    background-color: #ee4540;
    z-index: -1;
}

.div-titulo h2 {
    font-size: 45px;
    color: #fff;
    z-index: 1;
    text-align: center;
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'Acme', sans-serif;
}

.div-titulo h2::before {
    content: '';
    position: absolute;
    width: 270px;
    height: 30%;
    background-color: #ee4540;
    z-index: -1;
}

.div-titulo a {
    width: 80%;
    color: #fff;
    text-decoration-color: #fff;
    font-size: 25px;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.div-titulo i {
    color: #fff;
    font-size: 45px;
    animation: movimiento 1.25s linear infinite;
}


/*Estilos para la presentacion*/

.seccion-presentacion {
    width: 100vw;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.seccion-presentacion .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-presentacion .row .div-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.seccion-presentacion .row .div-item .fas,
.far {
    font-size: 70px;
    color: #000;
}

.seccion-presentacion .row .div-item h2 {
    font-family: 'Acme', sans-serif;
    color: #fff;
}

.seccion-presentacion .row .div-item p {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(167, 167, 167);
}

.seccion-presentacion .row .div-item ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: rgb(167, 167, 167);
}

.seccion-presentacion .row .div-item-medio {
    margin-left: 5%;
    margin-right: 5%;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #ee4540;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.timeline ul li div time {
    position: absolute;
    background: #f5af19;
    width: 40%;
    height: 45px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 35px;
    z-index: 1;
    font-family: 'Staatliches', cursive;
}

.timeline ul li div div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div h1 {
    color: #ee4540;
    font-size: 35px;
    font-family: 'Acme', sans-serif;
}

.timeline ul li div div p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    text-align: justify;
}

.timeline ul li div .discovery {
    margin-right: 10px;
}

.timeline ul li div .scientist {
    margin-top: -10%;
    background-color: transparent;
}

.timeline ul li div .scientist img {
    width: 100%;
}

.timeline ul li:nth-of-type(odd)>div {
    left: 45px;
}

.timeline ul li:nth-of-type(even)>div {
    left: -439px;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
        flex-direction: column;
    }
    .timeline ul li div div {
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(odd) div {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    .timeline ul li:nth-of-type(even)>div {
        left: -289px;
    }
}

@media screen and (max-width: 768px) {
    /*Seccion de presentacion*/
    .seccion-presentacion .row .div-item {
        width: 80%;
        margin-top: 10%;
    }
    .seccion-presentacion .row .div-item-medio {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 1px;
    }
    .timeline ul li div {
        margin-left: -350%;
        width: calc(100vw - 70px);
    }
    .timeline ul li:nth-of-type(odd) div {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    .timeline ul li:nth-of-type(even)>div {
        left: 45px;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(0);
    }
}